.footer {
    background-color: #0a4275;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;

  }
  
  .footer-container {
    padding: 20px;
  }
  
  .footer-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  
  .footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-text {
    margin-right: 10px;
  }
  
  .btn {
    padding: 10px 20px;
  }
  
  .footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    position: relative;
    width: 100%;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  