.footer {
    background-color: #783c00;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
  }
  
  
  .footer-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  
  .footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-text {
    margin-right: 10px;
  }
  
  .btn {
    padding: 10px 20px;
  }
  
  .footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-bottom: 0;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  