.NavBar {
    background-color: #EA9253;
    margin-top: 0%;
    padding: 5px;
  }
  
  .NavBar a {
    margin: 20px;
  }
  
  .SearchBar {
    background-color: white;
    padding: 3px;
  }
  
  #searchButton {
    background-color: #EA9253;
  }